name: Release npm package

on:
  push:
    branches:
      - main
      - next

permissions:
  contents: write # to be able to publish a GitHub release
  issues: write # to be able to comment on released issues
  pull-requests: write # to be able to comment on released pull requests
  id-token: write # to enable use of OIDC for trusted publishing and npm provenance

jobs:
  release:
    name: Build & release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24
      - run: npm ci
      - run: npm run build
      - name: semantic release
        uses: cycjimmy/semantic-release-action@v6
        with:
          semantic_version: 25
          extra_plugins: |
            @semantic-release/changelog@6
            conventional-changelog-conventionalcommits@9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
